.navbar {
  background-color: #16262c;
  display: flex;
  align-items: center;
  justify-content: flex-start;  // Sol tarafa hizala
  padding: 10px 20px;

  .logo {
    height: 40px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    margin-left: 5px;  // İkon ile metin arasına boşluk bırak
  }

  .user-circle {
    background-color: #00ff87;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    transition: background-color 0.3s ease;

    .user-initials {
      color: #16262c;
      font-size: 20px;
      font-family: 'Rubik', sans-serif;
      font-weight: bold;
    }

    &:hover {
      background-color: #7BD3EA;  /* Uyumlu daha koyu bir arka plan rengi */
    }
  }
}

.popup {
  position: absolute;
  right: 20px;
  top: 70px;
  background-color: #16262c;
  padding: 10px;
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
  color: #00ff87;

  img.user-icon {
    width: 50px;  /* İkon boyutu */
    height: 50px;
    display: block;
    margin: 0 auto 10px auto;  /* İkonu ortalar ve altına boşluk bırakır */
  }

  p {
    margin: 5px 0;
  }

  .status-container {
    display: flex;
    align-items: center;

    p {
      margin-right: 10px;
      font-size: 14px;
      color: #00ff87;  /* Mevcut durum yazısı */
    }

    select {
      display: none;  // Select'i kaldırdık, yeni popup üzerinden işlem yapılacak
    }
  }
}

// Yeni status popup stilini ekleyelim
.status-popup {
  position: absolute;
  right: 20px;
  top: 150px;
  background-color: #16262c;
  padding: 15px;
  border-radius: 8px;
  color: #00ff87;

  h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #16262c;
      color: #00ff87;
      border: 1px solid #00ff87;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #00ff87;
        color: #16262c;
      }
    }
  }
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #16262c;
  color: #ffffff;
}
