<div class="navbar">
  <img src="assets/bitaskicon.png" alt="BiTASK Icon" class="logo" />
  <span class="title">BiTASK</span>
  <div class="user-info-container">
    <div class="user-circle" (click)="openUserPopup()">
      <span class="user-initials">{{ userInitials }}</span>
    </div>
    <!-- Logout Button -->
    <div class="logout-container">
      <img src="assets/logouticon.png" alt="Logout Icon" class="logout-icon" />
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<div class="popup" *ngIf="isUserPopupOpen">
  <img src="assets/usericon.png" alt="User Icon" class="user-icon" />
  <p><strong>{{ userFullName }}</strong></p>
  <p><strong>{{ userEmail }}</strong></p>
  <p><strong>{{ userJobTitle }}</strong></p>

  <!-- Statü Değiştirme İkonu -->
  <div class="status-container">
    <p><strong>{{ userStatus }}</strong></p>
    <div class="status-change-icon" (click)="openStatusPopup()">
      <span>&gt;</span>
    </div>
  </div>
</div>

<!-- Statü Seçim Pop-up'ı -->
<div class="status-popup" *ngIf="isStatusPopupOpen">
  <ul class="status-list">
    <li class="status-item online-status" (click)="onStatusSelect('ONLINE')">
      <span class="status-circle"></span>
      <span class="status-text">Online</span>
    </li>
    <li class="status-item away-status" (click)="onStatusSelect('AWAY')">
      <span class="status-circle"></span>
      <span class="status-text">Away</span>
    </li>
    <li class="status-item busy-status" (click)="onStatusSelect('BUSY')">
      <span class="status-circle"></span>
      <span class="status-text">Busy</span>
    </li>
  </ul>
</div>


<div class="dashboard-container">
  <h1>Welcome to the Dashboard</h1>
  <p>This is your main application page.</p>
</div>
