<div class="page-wrapper">
  <!-- Header Section -->
  <div class="header">
    <img src="assets/bitaskicon.png" alt="BiTASK Icon" class="header-logo" />
    <h1 class="header-title">BiTASK</h1>
  </div>

  <div class="login-container">
    <div class="login-card">
      <!-- Login Icon -->
      <img src="assets/loginicon.png" alt="Login Icon" class="login-icon" />

      <h2>Get ready to work!</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Server-Side Login Error Message -->
        <div *ngIf="isLoginFailed" class="error-message server-error">
          {{ errorMessage }}
        </div>

        <!-- Email Field -->
        <div
          class="p-field"
          [ngClass]="{
            error:
              isLoginFailed ||
              (loginForm.get('email')?.invalid &&
                (loginForm.get('email')?.dirty ||
                  loginForm.get('email')?.touched))
          }"
        >
          <label for="email">Email</label>
          <input id="email" type="email" pInputText formControlName="email" />
          <!-- Email Error Messages -->
          <div
            *ngIf="
              loginForm.get('email')?.errors?.['required'] &&
              (loginForm.get('email')?.dirty ||
                loginForm.get('email')?.touched)
            "
            class="error-message"
          >
            The email cannot be null or empty value!
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.errors?.['email'] &&
              !loginForm.get('email')?.errors?.['whitespace'] &&
              (loginForm.get('email')?.dirty ||
                loginForm.get('email')?.touched)
            "
            class="error-message"
          >
            Please enter a valid email address!
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.errors?.['whitespace'] &&
              !loginForm.get('email')?.errors?.['required'] &&
              (loginForm.get('email')?.dirty ||
                loginForm.get('email')?.touched)
            "
            class="error-message"
          >
            The email cannot be null or empty value!
          </div>
        </div>

        <!-- Password Field -->
        <div
          class="p-field"
          [ngClass]="{
            error:
              isLoginFailed ||
              (loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched))
          }"
        >
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            pInputText
            formControlName="password"
          />
          <!-- Password Error Messages -->
          <div
            *ngIf="
              loginForm.get('password')?.errors?.['required'] &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
            class="error-message"
          >
            The password cannot be null or empty value!
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.errors?.['minlength'] &&
              !loginForm.get('password')?.errors?.['whitespace'] &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
            class="error-message"
          >
            Password must be at least 8 characters long.
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.errors?.['whitespace'] &&
              !loginForm.get('password')?.errors?.['required'] &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
            class="error-message"
          >
            The password cannot be null or empty value!
          </div>
        </div>

        <!-- Submit Button -->
        <button
          pButton
          type="submit"
          label="Login"
          class="login-button"
        ></button>
        <p class="forgot-password">
          <a href="#" (click)="openForgotPasswordPopup($event)">
            Forgot password?
          </a>
        </p>
      </form>
    </div>

    <!-- Forgot Password Popup -->
    <p-dialog
      header="Reset Password Code"
      [(visible)]="showForgotPasswordPopup"
      [modal]="true"
      [closable]="true"
    >
      <p>Enter your email address to receive a password reset code.</p>
      <input
        id="emailForReset"
        type="email"
        [(ngModel)]="emailForReset"
        pInputText
        placeholder="Enter your email address"
      />
      <div class="dialog-actions">
        <button
          pButton
          type="button"
          label="Send Reset Code"
          (click)="sendResetCode()"
          [disabled]="!countdownExpired"
        ></button>
      </div>
      <div *ngIf="codeSent" class="success-message">
        <i class="pi pi-check-circle"></i> A password reset code has been sent
        to your email.
      </div>

      <!-- Code Verification Pop-up -->
      <div *ngIf="showCodeVerification">
        <p>Enter the 6-digit code sent to your email:</p>
        <input
          id="resetCode"
          type="text"
          [(ngModel)]="resetCode"
          pInputText
          placeholder="Enter your reset code"
        />
        <div *ngIf="!countdownExpired" style="color: green">
          The reset code will be expired in {{ formattedCountdown }}
          <i
            class="pi pi-stopwatch"
            [ngStyle]="{
              color: countdownExpired ? 'red' : 'green',
              'margin-left': '5px'
            }"
          ></i>
        </div>
        <div *ngIf="countdownExpired" style="color: red">
          The reset code has expired!
          <button
            pButton
            type="button"
            class="resend-code-btn"
            (click)="sendResetCode()"
          >
            Re-send code
            <img src="assets/resendicon.png" alt="Resend Icon" />
          </button>
        </div>
        <div class="dialog-actions">
          <button
            pButton
            type="button"
            label="Verify Code"
            (click)="verifyCode()"
          ></button>
        </div>
        <div *ngIf="isCodeIncorrect" class="error-message">
          <i class="pi pi-times-circle"></i> {{ errorMessage }}
        </div>
        <div *ngIf="isCodeCorrect" class="success-message">
          <i class="pi pi-check-circle"></i> Code verified! Redirecting to set a
          new password...
        </div>
      </div>
    </p-dialog>
  </div>
</div>
