.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .header-logo {
    width: 40px;
    height: 40px;
  }

  .header-title {
    color: #F5F5F5;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
  }

}

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b262c;
}

.reset-password-card {
  background-color: #2e3b4e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 450px;
  width: 100%;
  text-align: center;

  .reset-password-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    color: #00ff87;
    margin-bottom: 1rem;
  }

  .p-field {
    margin-bottom: 1.5rem;
    text-align: left;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: #00ff87;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border: 2px solid #00ff87;
      border-radius: 4px;
      background-color: #2e3b4e;
      color: #00ff87;
      font-size: 1rem;
      transition: border-color 0.3s ease;
    }

    &.error input {
      border-color: red;
    }

    .password-criteria {
      margin-top: 0.5rem;

      p {
        margin: 0;
        color: red;
        display: flex;
        align-items: center;

        i {
          margin-right: 0.5rem;
        }

        &.valid {
          color: #00ff87;
        }
      }
    }

    .error-message {
      color: red;
      margin-top: 0.5rem;
      font-size: 0.875rem;
    }

    .success-message {
      color: green;
      margin-top: 0.5rem;
    }
  }

  .change-password-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #00ff87;
    border-color: #00ff87;
    color: #2e3b4e;
    font-size: 1rem;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .change-password-button:disabled {
    background-color: #cccccc;
    border-color: #cccccc;
    cursor: not-allowed;
  }
}

/* Success message pop-up */
.success-message {
  color: #00ff87;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;

  i {
    margin-right: 0.5rem;
  }
}
